$images-list: 'no0283','no0308','no03412','no0354','no03722','no0381','no0402','no0411','no0421','no0482','no0483','no0484','no0500',
  'no0511','no0520','no05421','no0543','no0545','no0595','no0596','no0602','no0606','no0627','no0633','no0634','no0638','no0641','no0650','no0651','no0700','no701','no702','no703','no704','no705','no706','no707','no708','no709','no710','no7709';

  $icon62-width: 62px;
  $icon62-height: 62px;
  $icon58-width: 58px;
  $icon58-height: 58px;
  $icons: image-url('toolbar.png');
  @mixin icon ($num:0, $w:0, $h:0) {
    background-image: $icons;
    background-position: 0 -($num)
  }

  @each $image in $inmage-list {
    .icon62-#{$image} {
      @include icon()
    }
    .icon58-#{$image} {

    }

  }
